<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Codecool" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Blasko Shop</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous" defer></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

        <script type="text/javascript" th:src="@{/static/js/javascript.js}" defer></script>
    </head>
    <body class="bg-light">
        <div class="container-fluid pt-3 pb-3 text-center text-light blue" id="header">
            <h1>Blasko Shop</h1>
        </div>
        <div class="container-fluid green" th:switch="${session.username}">
            <div class="row">
                <div class="container" th:case="'admin@admin.hu'">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="margin-top-16 margin-bottom-16">
                                <form id="product" action="/admin/product" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Product"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="margin-top-16 margin-bottom-16">
                                <form id="category" action="/admin/category" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Category"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="margin-top-16 margin-bottom-16">
                                <form id="supplier" action="/admin/supplier" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Supplier"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="margin-top-16 margin-bottom-16">
                                <form id="logout" action="/logout" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Logout"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" th:case="null">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top-16 margin-bottom-16">
                                <form id="login" action="/login" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Login"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" th:case="*">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="margin-top-16 margin-bottom-16">
                                <button type="button" class="btn btn-warning hundred-per-cent">
                                        My Shopping Cart<i class="fas fa-shopping-cart display-inline"></i><h6 class="itemsnumber display-inline" th:text="${shopcartitems}"></h6>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top-16 margin-bottom-16">
                                <form action="/logout" method="get">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Logout"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid grey">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3 margin-top-16">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Category</label>
                                </div>
                                <select class="custom-select" name="categorysearch" form="searchform">
                                    <option selected>Choose...</option>
                                    <div th:each="category : ${categories}">
                                        <option th:text="${category.name}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3 margin-top-16">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Supplier</label>
                                </div>
                                <select class="custom-select" name="suppliersearch" form="searchform">
                                    <option selected>Choose...</option>
                                    <div th:each="supplier : ${suppliers}">
                                        <option th:text="${supplier.name}"></option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="margin-top-16 search">
                                <form id="searchform" action="/" method="post">
                                    <input type="submit" class="hundred-per-cent grey-other searchbtn" value="Search"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center margin-top-16">
                <div class="card m-2 box" th:each="prod : ${products}">
                    <img class="card-img-top" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/' + ${prod.image}" alt="" />
                    <div class="card-body">
                        <h5 class="card-title" th:text="${prod.name}">Product name</h5>
                        <p class="card-text" th:text="${prod.description}">Product description... </p>
                    </div>
                    <div class="card-footer text-center green text-white">
                        <h5 class="card-text" th:text="${prod.getPriceForm()}">Price</h5>
                    </div>
                    <div class="card-footer dark-green" th:switch="${session.username}">
                        <div th:case="'admin@admin.hu'">
                        </div>
                        <div th:case="null">
                        </div>
                        <div th:case="*">
                            <a th:id="${prod.id}" class="btn btn-success btn-block font-weight-bold dark-green addButton text-white" href="#">Add to cart<i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="footer.html :: copy"></div>

    </body>
</html>