<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Blasko" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blasko Shop</title>
</head>

<body class="bg-light">

<div class="container-fluid pt-3 pb-3 text-center text-light blue" id="header">
    <h1>Blasko Shop Product</h1>
</div>

<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
    </div>
</div>
<div>
    <form action="/admin/product" method="post">
        <input type="text" name="productname" width="100"/>
        <input type="text" name="productdescription" width="500"/>
        <input type="text" name="productprice" width="20"/>
        <input type="text" name="productcurrency" width="20"/>
        <input type="text" name="productcategory" width="20"/>
        <input type="text" name="productsupplier" width="20"/>
        <input type="text" name="productimage" width="100"/>
        <input type="submit" value="Add"/>
    </form>
</div>

<h3 th:text="${session.username}">Ma</h3>

<div th:replace="footer.html :: copy"></div>

</body>
</html>